[Desktop Entry]
Type=Application
Name=Bitwarden
Comment=Bitwarden Password Manager
Icon=/home/{{ ansible_facts['env']['USER'] }}/Apps/bitwarden-logo.png
Exec=/home/{{ ansible_facts['env']['USER'] }}/Apps/Bitwarden.AppImage
Terminal=false
Categories=Bitwarden;Utility;
