[Desktop Entry]
Type=Application
Name=ComicTagger
Comment=Multi-platform app for writing metadata to digital comics
Icon=/home/{{ ansible_facts['env']['USER'] }}/Apps/comictagger-logo.png
Exec=/home/{{ ansible_facts['env']['USER'] }}/Apps/ComicTagger.AppImage
Terminal=false
Categories=ComicTagger;Utility;
