[Desktop Entry]
Type=Application
Name=Nextcloud
Comment=Nextcloud
Icon=/home/{{ ansible_facts['env']['USER'] }}/Apps/nextcloud-logo.png
Exec=/home/{{ ansible_facts['env']['USER'] }}/Apps/Nextcloud.AppImage
Terminal=false
Categories=Nextcloud;Utility;
